body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('src/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Roboto", sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .ant-picker-panels {
        flex-direction: column !important;
    }
}